<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
    </a>
  </div>
  <div class="col-md-6">
    <div class="card-header">
      Edit Settings
    </div>
    <div class="card-body">
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="">Allow Registratioin</label>
          <input type="checkbox" name="allowRegistration" [checked]="settings.allowRegistration" (change)="settings.allowRegistration = !settings.allowRegistration">
        </div>

        <div class="form-group">
          <label for="">Disable balance on Add</label>
          <input type="checkbox" name="allowRegistration" [checked]="settings.disableBalanceOnAdd" (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd">
        </div>

        <div class="form-group">
          <label for="">Disable balance on Edit</label>
          <input type="checkbox" name="allowRegistration" [checked]="settings.disableBalanceOnEdit" (change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit">
        </div>

        <input type="submit" value="Submit" class="btn btn-primary btn-block">
      </form>
    </div>
  </div>
</div>