<div class="row">
  <div class="col-md-6">
    <a routerLink="/client/{{id}}" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Go Back to the Selected Client
    </a>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="card">
  <div class="card-header">
    Edit Client
  </div>
  <div class="card-body">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
      <div class="form-group">
        <!-- FIRST NAME -->
        <label for="firstName">First Name:</label>
        <input 
          type="text"
          class="form-control"
          name="firstName"
          #clientFirstName="ngModel"
          [ngClass]="{'is-invalid': clientFirstName.errors && clientFirstName.touched}"
          [(ngModel)]="editedClient.firstName"
          minlength="2"
          required
        >
        <!-- <div class="card card-body">errors: {{ clientFirstName.errors | json }} </div> -->
        <div [hidden]="!clientFirstName.errors?.required" class="invalid-feedback">
          First Name cannot be empty
        </div>

        <div [hidden]="!clientFirstName.errors?.minlength" class="invalid-feedback">
            First Name must be at least 2 characters
        </div>
      </div>
      
      <!-- LAST NAME -->
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input 
          type="text"
          class="form-control"
          name="lastName"
          #clientLastName="ngModel"
          [ngClass]="{'is-invalid': clientLastName.errors && clientLastName.touched}"
          [(ngModel)]="editedClient.lastName"
          minlength="2"
          required
        >
        <div [hidden]="!clientLastName.errors?.required" class="invalid-feedback">
          Last Name cannot be empty.
        </div>

        <div [hidden]="!clientLastName.errors?.minlength" class="invalid-feedback">
            Last Name must be at least 2 characters.
        </div>
      </div>

      <!-- EMAIL -->
      <div class="form-group">
          <label for="email">Email:</label>
          <input 
            type="text"
            class="form-control"
            name="email"
            #clientEmail="ngModel"
            [ngClass]="{'is-invalid': clientEmail.errors && clientEmail.touched}"
            [(ngModel)]="editedClient.email"
            required
            >
            <!-- pattern="/^(?=[\S\s]{10,8000})[\S\s]*$/" -->
          <div [hidden]="!clientEmail.errors?.required" class="invalid-feedback">
            Email cannot be empty.
          </div>
  
          <!-- <div [hidden]="!clientEmail.errors?.pattern" class="invalid-feedback">
            Email is not valid according to me. You might be a genius but this is my site .. :).
          </div> -->
        </div>

        <!-- phone number -->
      <div class="form-group">
          <label for="phone">Phone:</label>
          <input 
            type="text"
            class="form-control"
            name="phone"
            #clientPhone="ngModel"
            [ngClass]="{'is-invalid': clientPhone.errors && clientPhone.touched}"
            [(ngModel)]="editedClient.phone"
            minlength="10"
            required
          >
          <div [hidden]="!clientPhone.errors?.required" class="invalid-feedback">
            Phone number cannot be empty.
          </div>
  
          <div [hidden]="!clientPhone.errors?.minlength" class="invalid-feedback">
            Phone number must be 10 characters long.
          </div>
        </div>

         <!-- balance -->
      <div class="form-group">
          <label for="balance">Balance:</label>
          <input 
            type="number"
            class="form-control"
            [(ngModel)]="editedClient.balance"
            name="balance"
            #clientBalance="ngModel"
            [disabled]="disableBalanceOnEdit"
          >
        </div>

        <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>

</div>